In [1]:
import pandas as pd
import numpy as np
from fbprophet import Prophet 
from datetime import datetime

In [2]:
weather_data = pd.read_csv("../../data/daily.csv")
weather_data

          DATE  TMAX  TMIN
0     20130101  34.0  26.0
1     20130102  29.5  15.0
2     20130103  34.5  12.0
3     20130104  36.5  23.0
4     20130105  41.0  19.0
5     20130106  40.0  28.0
6     20130107  39.5  19.0
7     20130108  50.0  20.0
8     20130109  53.5  26.5
9     20130110  45.0  24.0
10    20130111  62.0  41.0
11    20130112  65.5  43.0
12    20130113  67.0  36.0
13    20130114  35.0  24.0
14    20130115  32.0  22.0
15    20130116  36.0  26.0
16    20130117  44.0  28.0
17    20130118  42.0  19.0
18    20130119  54.0  34.0
19    20130120  48.0  28.0
20    20130121  28.0  13.5
21    20130122  20.0   7.0
22    20130123  22.0  10.0
23    20130124  24.0  14.0
24    20130125  26.0  18.0
25    20130126  32.5  18.0
26    20130127  37.5  17.0
27    20130128  52.0  34.0
28    20130129  64.0  47.0
29    20130130  68.0  34.0
...        ...   ...   ...
1842  20180117  63.6  45.5
1843  20180118  46.0  39.6
1844  20180119  53.2  37.4
1845  20180120  63.5  44.8
1846  20180121  70.2  45.0
1847  20180122  69.2  43.6
1848  20180123  60.7  45.3
1849  20180124  47.9  38.0
1850  20180125  60.0  34.2
1851  20180126  44.9  33.5
1852  20180127  38.8  31.1
1853  20180128  35.2  28.0
1854  20180129  36.3  26.8
1855  20180130  36.2  21.5
1856  20180131  51.2  31.1
1857  20180201  45.5  35.5
1858  20180202  39.1  26.5
1859  20180203  32.2  17.0
1860  20180204  39.1  12.3
1861  20180205  55.2  28.4
1862  20180206  63.9  25.4
1863  20180207  61.2  55.3
1864  20180208  55.6  31.9
1865  20180209  33.7  16.2
1866  20180210  27.3  12.6
1867  20180211  30.5  12.2
1868  20180212  22.5   9.6
1869  20180213  23.8  12.9
1870  20180214  39.1  22.9
1871  20180215  41.6  26.7

[1872 rows x 3 columns]

In [3]:
weather_data.dtypes

DATE      int64
TMAX    float64
TMIN    float64
dtype: object

In [4]:
weather_data["DATE"] = pd.to_datetime(weather_data["DATE"], format='%Y%m%d')
print(weather_data.dtypes)
weather_data

DATE    datetime64[ns]
TMAX           float64
TMIN           float64
dtype: object

           DATE  TMAX  TMIN
0    2013-01-01  34.0  26.0
1    2013-01-02  29.5  15.0
2    2013-01-03  34.5  12.0
3    2013-01-04  36.5  23.0
4    2013-01-05  41.0  19.0
5    2013-01-06  40.0  28.0
6    2013-01-07  39.5  19.0
7    2013-01-08  50.0  20.0
8    2013-01-09  53.5  26.5
9    2013-01-10  45.0  24.0
10   2013-01-11  62.0  41.0
11   2013-01-12  65.5  43.0
12   2013-01-13  67.0  36.0
13   2013-01-14  35.0  24.0
14   2013-01-15  32.0  22.0
15   2013-01-16  36.0  26.0
16   2013-01-17  44.0  28.0
17   2013-01-18  42.0  19.0
18   2013-01-19  54.0  34.0
19   2013-01-20  48.0  28.0
20   2013-01-21  28.0  13.5
21   2013-01-22  20.0   7.0
22   2013-01-23  22.0  10.0
23   2013-01-24  24.0  14.0
24   2013-01-25  26.0  18.0
25   2013-01-26  32.5  18.0
26   2013-01-27  37.5  17.0
27   2013-01-28  52.0  34.0
28   2013-01-29  64.0  47.0
29   2013-01-30  68.0  34.0
...         ...   ...   ...
1842 2018-01-17  63.6  45.5
1843 2018-01-18  46.0  39.6
1844 2018-01-19  53.2  37.4
1845 2018-01-20  63.5  44.8
1846 2018-01-21  70.2  45.0
1847 2018-01-22  69.2  43.6
1848 2018-01-23  60.7  45.3
1849 2018-01-24  47.9  38.0
1850 2018-01-25  60.0  34.2
1851 2018-01-26  44.9  33.5
1852 2018-01-27  38.8  31.1
1853 2018-01-28  35.2  28.0
1854 2018-01-29  36.3  26.8
1855 2018-01-30  36.2  21.5
1856 2018-01-31  51.2  31.1
1857 2018-02-01  45.5  35.5
1858 2018-02-02  39.1  26.5
1859 2018-02-03  32.2  17.0
1860 2018-02-04  39.1  12.3
1861 2018-02-05  55.2  28.4
1862 2018-02-06  63.9  25.4
1863 2018-02-07  61.2  55.3
1864 2018-02-08  55.6  31.9
1865 2018-02-09  33.7  16.2
1866 2018-02-10  27.3  12.6
1867 2018-02-11  30.5  12.2
1868 2018-02-12  22.5   9.6
1869 2018-02-13  23.8  12.9
1870 2018-02-14  39.1  22.9
1871 2018-02-15  41.6  26.7

[1872 rows x 3 columns]

In [5]:
tmax_df = weather_data.loc[:, 'DATE':'TMAX']
tmax_df.columns = ['ds', 'y']
tmax_df

             ds     y
0    2013-01-01  34.0
1    2013-01-02  29.5
2    2013-01-03  34.5
3    2013-01-04  36.5
4    2013-01-05  41.0
5    2013-01-06  40.0
6    2013-01-07  39.5
7    2013-01-08  50.0
8    2013-01-09  53.5
9    2013-01-10  45.0
10   2013-01-11  62.0
11   2013-01-12  65.5
12   2013-01-13  67.0
13   2013-01-14  35.0
14   2013-01-15  32.0
15   2013-01-16  36.0
16   2013-01-17  44.0
17   2013-01-18  42.0
18   2013-01-19  54.0
19   2013-01-20  48.0
20   2013-01-21  28.0
21   2013-01-22  20.0
22   2013-01-23  22.0
23   2013-01-24  24.0
24   2013-01-25  26.0
25   2013-01-26  32.5
26   2013-01-27  37.5
27   2013-01-28  52.0
28   2013-01-29  64.0
29   2013-01-30  68.0
...         ...   ...
1842 2018-01-17  63.6
1843 2018-01-18  46.0
1844 2018-01-19  53.2
1845 2018-01-20  63.5
1846 2018-01-21  70.2
1847 2018-01-22  69.2
1848 2018-01-23  60.7
1849 2018-01-24  47.9
1850 2018-01-25  60.0
1851 2018-01-26  44.9
1852 2018-01-27  38.8
1853 2018-01-28  35.2
1854 2018-01-29  36.3
1855 2018-01-30  36.2
1856 2018-01-31  51.2
1857 2018-02-01  45.5
1858 2018-02-02  39.1
1859 2018-02-03  32.2
1860 2018-02-04  39.1
1861 2018-02-05  55.2
1862 2018-02-06  63.9
1863 2018-02-07  61.2
1864 2018-02-08  55.6
1865 2018-02-09  33.7
1866 2018-02-10  27.3
1867 2018-02-11  30.5
1868 2018-02-12  22.5
1869 2018-02-13  23.8
1870 2018-02-14  39.1
1871 2018-02-15  41.6

[1872 rows x 2 columns]

In [6]:
tmin_df = weather_data.loc[:, ['DATE', 'TMIN']]
tmin_df.columns = ['ds', 'y']
tmin_df

             ds     y
0    2013-01-01  26.0
1    2013-01-02  15.0
2    2013-01-03  12.0
3    2013-01-04  23.0
4    2013-01-05  19.0
5    2013-01-06  28.0
6    2013-01-07  19.0
7    2013-01-08  20.0
8    2013-01-09  26.5
9    2013-01-10  24.0
10   2013-01-11  41.0
11   2013-01-12  43.0
12   2013-01-13  36.0
13   2013-01-14  24.0
14   2013-01-15  22.0
15   2013-01-16  26.0
16   2013-01-17  28.0
17   2013-01-18  19.0
18   2013-01-19  34.0
19   2013-01-20  28.0
20   2013-01-21  13.5
21   2013-01-22   7.0
22   2013-01-23  10.0
23   2013-01-24  14.0
24   2013-01-25  18.0
25   2013-01-26  18.0
26   2013-01-27  17.0
27   2013-01-28  34.0
28   2013-01-29  47.0
29   2013-01-30  34.0
...         ...   ...
1842 2018-01-17  45.5
1843 2018-01-18  39.6
1844 2018-01-19  37.4
1845 2018-01-20  44.8
1846 2018-01-21  45.0
1847 2018-01-22  43.6
1848 2018-01-23  45.3
1849 2018-01-24  38.0
1850 2018-01-25  34.2
1851 2018-01-26  33.5
1852 2018-01-27  31.1
1853 2018-01-28  28.0
1854 2018-01-29  26.8
1855 2018-01-30  21.5
1856 2018-01-31  31.1
1857 2018-02-01  35.5
1858 2018-02-02  26.5
1859 2018-02-03  17.0
1860 2018-02-04  12.3
1861 2018-02-05  28.4
1862 2018-02-06  25.4
1863 2018-02-07  55.3
1864 2018-02-08  31.9
1865 2018-02-09  16.2
1866 2018-02-10  12.6
1867 2018-02-11  12.2
1868 2018-02-12   9.6
1869 2018-02-13  12.9
1870 2018-02-14  22.9
1871 2018-02-15  26.7

[1872 rows x 2 columns]

In [7]:
model_tmax = Prophet()
model_tmax.fit(tmax_df)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [8]:
future_tmax = model_tmax.make_future_dataframe(periods=12, include_history=False)
future_tmax

           ds
0  2018-02-16
1  2018-02-17
2  2018-02-18
3  2018-02-19
4  2018-02-20
5  2018-02-21
6  2018-02-22
7  2018-02-23
8  2018-02-24
9  2018-02-25
10 2018-02-26
11 2018-02-27

In [9]:
model_tmin = Prophet()
model_tmin.fit(tmin_df)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [10]:
predictions_tmax = model_tmax.predict(future_tmax)
predictions_tmax

,ds,trend,trend_lower,trend_upper,yhat_lower,yhat_upper,seasonal,seasonal_lower,seasonal_upper,seasonalities,seasonalities_lower,seasonalities_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,yhat
0,2018-02-16,71.208287,71.208287,71.208287,30.280806,53.547920,-28.931222,-28.931222,-28.931222,-28.931222,-28.931222,-28.931222,-1.068937,-1.068937,-1.068937,-27.862285,-27.862285,-27.862285,42.277065
1,2018-02-17,71.215095,71.215095,71.215095,31.260594,55.717031,-28.153385,-28.153385,-28.153385,-28.153385,-28.153385,-28.153385,-0.549463,-0.549463,-0.549463,-27.603922,-27.603922,-27.603922,43.061710
2,2018-02-18,71.221904,71.221904,71.221904,31.686956,55.305200,-26.808666,-26.808666,-26.808666,-26.808666,-26.808666,-26.808666,0.444387,0.444387,0.444387,-27.253052,-27.253052,-27.253052,44.413239
3,2018-02-19,71.228713,71.228713,71.228713,33.133433,57.033346,-26.242004,-26.242004,-26.242004,-26.242004,-26.242004,-26.242004,0.568375,0.568375,0.568375,-26.810380,-26.810380,-26.810380,44.986709
4,2018-02-20,71.235522,71.235522,71.235522,32.885634,57.966519,-25.804610,-25.804610,-25.804610,-25.804610,-25.804610,-25.804610,0.473787,0.473787,0.473787,-26.278397,-26.278397,-26.278397,45.430913
5,2018-02-21,71.242331,71.242331,71.242331,33.885027,58.224444,-25.107845,-25.107845,-25.107845,-25.107845,-25.107845,-25.107845,0.553492,0.553492,0.553492,-25.661337,-25.661337,-25.661337,46.134486
6,2018-02-22,71.249140,71.249140,71.249140,34.387368,57.857962,-25.386735,-25.386735,-25.386735,-25.386735,-25.386735,-25.386735,-0.421641,-0.421641,-0.421641,-24.965094,-24.965094,-24.965094,45.862405
7,2018-02-23,71.255949,71.255949,71.255949,35.000260,57.753722,-25.266030,-25.266030,-25.266030,-25.266030,-25.266030,-25.266030,-1.068937,-1.068937,-1.068937,-24.197093,-24.197093,-24.197093,45.989919
8,2018-02-24,71.262758,71.262758,71.262758,35.136759,58.980531,-23.915593,-23.915593,-23.915593,-23.915593,-23.915593,-23.915593,-0.549463,-0.549463,-0.549463,-23.366130,-23.366130,-23.366130,47.347165
9,2018-02-25,71.269567,71.269567,71.269567,37.942849,61.300116,-22.037794,-22.037794,-22.037794,-22.037794,-22.037794,-22.037794,0.444387,0.444387,0.444387,-22.482180,-22.482180,-22.482180,49.231773
10,2018-02-26,71.276376,71.276376,71.276376,38.681272,62.393225,-20.987795,-20.987795,-20.987795,-20.987795,-20.987795,-20.987795,0.568375,0.568375,0.568375,-21.556170,-21.556170,-21.556170,50.288581
11,2018-02-27,71.283184,71.283184,71.283184,39.395478,62.516611,-20.125946,-20.125946,-20.125946,-20.125946,-20.125946,-20.125946,0.473787,0.473787,0.473787,-20.599733,-20.599733,-20.599733,51.157238

In [11]:
future_tmin = model_tmin.make_future_dataframe(periods=12, include_history=False)
future_tmin

           ds
0  2018-02-16
1  2018-02-17
2  2018-02-18
3  2018-02-19
4  2018-02-20
5  2018-02-21
6  2018-02-22
7  2018-02-23
8  2018-02-24
9  2018-02-25
10 2018-02-26
11 2018-02-27

In [12]:
predictions_tmin = model_tmin.predict(future_tmin)
predictions_tmin

,ds,trend,trend_lower,trend_upper,yhat_lower,yhat_upper,seasonal,seasonal_lower,seasonal_upper,seasonalities,seasonalities_lower,seasonalities_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,yhat
0,2018-02-16,49.988277,49.988277,49.988277,12.059499,34.394776,-26.300262,-26.300262,-26.300262,-26.300262,-26.300262,-26.300262,-0.415576,-0.415576,-0.415576,-25.884686,-25.884686,-25.884686,23.688015
1,2018-02-17,49.994556,49.994556,49.994556,12.947391,34.851707,-25.773792,-25.773792,-25.773792,-25.773792,-25.773792,-25.773792,-0.164842,-0.164842,-0.164842,-25.608950,-25.608950,-25.608950,24.220765
2,2018-02-18,50.000836,50.000836,50.000836,13.065074,36.264960,-25.254698,-25.254698,-25.254698,-25.254698,-25.254698,-25.254698,-0.009407,-0.009407,-0.009407,-25.245292,-25.245292,-25.245292,24.746137
3,2018-02-19,50.007115,50.007115,50.007115,13.868353,34.954563,-25.183729,-25.183729,-25.183729,-25.183729,-25.183729,-25.183729,-0.388246,-0.388246,-0.388246,-24.795483,-24.795483,-24.795483,24.823385
4,2018-02-20,50.013394,50.013394,50.013394,15.248593,36.854548,-23.638877,-23.638877,-23.638877,-23.638877,-23.638877,-23.638877,0.623959,0.623959,0.623959,-24.262836,-24.262836,-24.262836,26.374517
5,2018-02-21,50.019673,50.019673,50.019673,16.036867,38.178661,-23.207200,-23.207200,-23.207200,-23.207200,-23.207200,-23.207200,0.444943,0.444943,0.444943,-23.652143,-23.652143,-23.652143,26.812473
6,2018-02-22,50.025952,50.025952,50.025952,15.758534,37.875174,-23.060425,-23.060425,-23.060425,-23.060425,-23.060425,-23.060425,-0.090831,-0.090831,-0.090831,-22.969593,-22.969593,-22.969593,26.965527
7,2018-02-23,50.032231,50.032231,50.032231,15.723002,38.611746,-22.638229,-22.638229,-22.638229,-22.638229,-22.638229,-22.638229,-0.415576,-0.415576,-0.415576,-22.222653,-22.222653,-22.222653,27.394002
8,2018-02-24,50.038510,50.038510,50.038510,17.416067,40.398666,-21.584761,-21.584761,-21.584761,-21.584761,-21.584761,-21.584761,-0.164842,-0.164842,-0.164842,-21.419919,-21.419919,-21.419919,28.453749
9,2018-02-25,50.044789,50.044789,50.044789,18.737466,40.703525,-20.580359,-20.580359,-20.580359,-20.580359,-20.580359,-20.580359,-0.009407,-0.009407,-0.009407,-20.570952,-20.570952,-20.570952,29.464431
10,2018-02-26,50.051068,50.051068,50.051068,19.040397,40.864115,-20.074330,-20.074330,-20.074330,-20.074330,-20.074330,-20.074330,-0.388246,-0.388246,-0.388246,-19.686084,-19.686084,-19.686084,29.976738
11,2018-02-27,50.057347,50.057347,50.057347,20.688267,42.732720,-18.152254,-18.152254,-18.152254,-18.152254,-18.152254,-18.152254,0.623959,0.623959,0.623959,-18.776213,-18.776213,-18.776213,31.905093

In [13]:
## results
predictions_tmax_res = predictions_tmax.loc[:, ['ds', 'yhat']]

In [14]:
predictions_tmin_res = predictions_tmin.loc[:, ['ds', 'yhat']]

In [15]:
frames = [predictions_tmax_res, predictions_tmin_res.yhat]
result = pd.concat(frames, axis=1)
result.columns = ["DATE", "TMAX", "TMIN"]
result

         DATE       TMAX       TMIN
0  2018-02-16  42.277065  23.688015
1  2018-02-17  43.061710  24.220765
2  2018-02-18  44.413239  24.746137
3  2018-02-19  44.986709  24.823385
4  2018-02-20  45.430913  26.374517
5  2018-02-21  46.134486  26.812473
6  2018-02-22  45.862405  26.965527
7  2018-02-23  45.989919  27.394002
8  2018-02-24  47.347165  28.453749
9  2018-02-25  49.231773  29.464431
10 2018-02-26  50.288581  29.976738
11 2018-02-27  51.157238  31.905093

In [16]:
return_value = result.loc[result['DATE'] >= datetime.strptime('20180221', '%Y%m%d')]
return_value

         DATE       TMAX       TMIN
5  2018-02-21  46.134486  26.812473
6  2018-02-22  45.862405  26.965527
7  2018-02-23  45.989919  27.394002
8  2018-02-24  47.347165  28.453749
9  2018-02-25  49.231773  29.464431
10 2018-02-26  50.288581  29.976738
11 2018-02-27  51.157238  31.905093

In [17]:
return_value['DATE'] = return_value['DATE'].apply(lambda x: datetime.strftime(x, '%Y%m%d'))

C:\Users\koush\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
json_format_result = return_value.to_json(orient='records', double_precision=1)
print(json_format_result)

[{"DATE":"20180221","TMAX":46.1,"TMIN":26.8},{"DATE":"20180222","TMAX":45.9,"TMIN":27.0},{"DATE":"20180223","TMAX":46.0,"TMIN":27.4},{"DATE":"20180224","TMAX":47.3,"TMIN":28.5},{"DATE":"20180225","TMAX":49.2,"TMIN":29.5},{"DATE":"20180226","TMAX":50.3,"TMIN":30.0},{"DATE":"20180227","TMAX":51.2,"TMIN":31.9}]